#Data Types and Structures

1.   What are data structures, and why are they important?
    - Data structures are ways to organize and store data so it can be used efficiently.They are important because they:
     -Improve performance (faster search, insert, delete)                      -  Use memory efficiently.
    - Make programs scalable and easier to manage.
    - Are used in real-world systems like search engines, file systems, and     social media.

2. Explain the difference between mutable and immutable data types with examples.
  - Mutable data types → Their contents can be changed without changing their identity. examples - list ,dictionary,set

In [28]:
list1 = [1, 2, 3]
list1[0] = 5
list1

[5, 2, 3]

  -  Immutable data types → Their contents cannot be changed; any modification creates a new object. examples - tuple,string

In [29]:
tup1 = (1, 2, 3)
tup1[0] = 5

TypeError: 'tuple' object does not support item assignment

3.   What are the main differences between lists and tuples in Python ?
    -   Mutability

        List: Mutable (can be changed).

        Tuple: Immutable (cannot be changed).

    - Syntax

        List: Created using [] → [1, 2, 3]

        Tuple: Created using () → (1, 2, 3)

    - Performance

        List: Slower due to mutability.

        Tuple: Faster due to immutability.

    -  Use Case

        list: When data needs to change
        
        Tuple: When data should stay constant.

4. Describe how dictionaries store data
  -  In Python, dictionaries store data as key–value pairs.

     Each key is unique and acts like an index.

     The value is the data linked to that key.

    Internally, Python uses a hash table to store keys, which makes lookups, insertions, and deletions very fast (average O(1) time).

     Example:
     student = {"name": "Ravi", "age": 20}

5. Why might you use a set instead of a list in Python ?
    -      You might use a set instead of a list when:

          You need unique elements → Sets automatically remove duplicates.

        Fast membership checks → Checking if an item exists is faster in sets (average O(1)) than in lists (O(n)).

        Mathematical operations → Sets support union, intersection, and difference easily.

      Example:

                    nums = {1, 2, 3, 3}
                    
                    print(nums)  # {1, 2, 3} → duplicates removed

6.  What is a string in Python, and how is it different from a list
      -        A string in Python is a sequence of characters enclosed in quotes (' '        or " ").

  -      Differences from a list:

      Mutability → Strings are immutable; lists are mutable.

      Elements → Strings store characters; lists can store any data type.

      Syntax →

                String: "hello"

                List: ["h", "e", "l", "l", "o"]

7.  How do tuples ensure data integrity in Python ?
      -  Tuples ensure data integrity in Python because they are immutable—once   created, their elements cannot be changed, added, or removed.
    This means the data stays fixed and protected from accidental modification.

      Example:

    coordinates = (10, 20)

    coordinates[0] = 15  # ❌ Error: tuple is immutable

8.  What is a hash table, and how does it relate to dictionaries in Python ?
  -      A hash table is a data structure that stores data in key–value pairs using a hash function to map each key to a specific location (index) in memory.

   - In Python, dictionaries are implemented using hash tables:

   - Keys are hashed to get an index.

     - Values are stored at that index.

     - This makes lookups, insertions, and deletions very fast (average O(1) time).

   - Example:

   student = {"name": "Ravi", "age": 20}  # stored internally in a hash table

9.  Can lists contain different data types in Python ?

    - in Python, lists can contain different data types.
    - A single list can store integers, strings, floats, and even other lists or objects.

   - Example:

              my_list = [10, "hello", 3.5, [1, 2]]

              print(my_list)  # [10, 'hello', 3.5, [1, 2]]

10.     Explain why strings are immutable in Python   

        - Strings are immutable in Python because once they are created, their contents cannot be changed.
        - text = "hello"

          text[0] = "H"  #  Error: strings can't be modified

11.  What advantages do dictionaries offer over lists for certain tasks ?
     -    Advantages of dictionaries over lists:

        - Faster lookups → Dictionaries use a hash table, so finding a value by key is O(1) on average, while lists are O(n).

         - Meaningful keys → Data is stored with descriptive keys instead of numeric indexes, making code easier to read.

        - No need to search by index → You can directly access a value using its key.

         - Example:
          
                  student = {"name": "Ravi", "age": 20}

                  print(student["name"])

12.    Describe a scenario where using a tuple would be preferable over a list.
      -  Scenario:
          When you want to store fixed, unchangeable data, such as geographic coordinates.

        Example:

              coordinates = (28.6139, 77.2090)  # Latitude, Longitude
Here, a tuple is better than a list because:

        The data should not be modified.

        Tuples are faster and use less memory than lists.

13.  How do sets handle duplicate values in Python ?
   -  In Python, sets automatically remove duplicate values.
When you add an element that already exists, the set ignores it.

       Example:

                  nums = {1, 2, 2, 3}

                 print(nums)  # {1, 2, 3}

14.  How does the “in” keyword work differently for lists and dictionaries ?
    - For lists:
in checks if a value exists in the list.

        nums = [1, 2, 3]

        print(2 in nums)  # True
  - For dictionaries:
      in checks if a key exists (not the value).

         student = {"name": "Ravi", "age": 20}

         print("name" in student)   # True
         
         print("Ravi" in student)   # False

15.   Can you modify the elements of a tuple? Explain why or why not ?
     - No you cannot modify the elements of a tuple because tuples are immutable in Python.
Once created, their elements cannot be changed, added, or removed.

     Example:

           tup = (1, 2, 3)

           tup[0] = 5  # Error: 'tuple' object does not support item assignment

16.  What is a nested dictionary, and give an example of its use case ?
    - A nested dictionary is a dictionary where each value can be another dictionary.

    - Use case: Storing related data in a structured way, like student records.

       Example:

                        students = {

                             "101": {"name": "Ravi", "age": 20},
                             "102": {"name": "Asha", "age": 22}
                                                                 }
                               print(students["102"]["age"])  # 22

17.  Describe the time complexity of accessing elements in a dictionary.
     -  Accessing elements in a dictionary has an average time complexity of O(1) because Python uses a hash table internally.

         - Average case: O(1) → Very fast lookups.

         - Worst case: O(n) → Rare, happens only if many keys have the same hash (hash collisions).

         Example:

                     data = {"a": 1, "b": 2}
                     print(data["b"])  # O(1) average

18. In what situations are lists preferred over dictionaries ?
    -     Lists are preferred over dictionaries when:

          Order matters → Lists maintain the order of elements by index.

          No need for keys → You just need a simple collection of items.

          Duplicate values are allowed → Unlike sets, lists can store repeated elements.

          Sequential operations → When you often access items by position (index).

          Example:    
                     fruits = ["apple", "banana", "apple"]  # duplicates allowed

19.    Why are dictionaries considered unordered, and how does that affect data retrieval?
    -  Dictionaries are considered unordered because their elements are stored based on hash values of keys, not in the order they were added (before Python 3.7).

        In modern Python (3.7+), dictionaries preserve insertion order, but this order is not used for fast lookups—keys are still retrieved via hashing.

        Effect on retrieval: You cannot rely on numeric indexing (like lists); you must use the key to access a value.

        Example:

                            data = {"b": 2, "a": 1}
                            print(data["a"])  # Access by key, not position

20. Explain the difference between a list and a dictionary in terms of data retrieval.
   - Difference in data retrieval:

     - List: Access elements by index (position).

            fruits = ["apple", "banana"]
            print(fruits[0])  # apple

      - Dictionary: Access elements by key (name/identifier).
     
              student = {"name": "Ravi", "age": 20}
            print(student["name"])  # Ravi

#practical questions

In [38]:
 # 1.  Write a code to create a string with your name and print it .

str1="Rupak Kumar"
print(str1)

Rupak Kumar

In [37]:
#2. Write a code to find the length of the string "Hello World"

len("Hello World")

11

In [30]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
"Python Programming"[:3]

'Pyt'

In [31]:
#4.  Write a code to convert the string "hello" to uppercase

str1="hello"
str1.upper()

'HELLO'

In [32]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

str1="I like apple"
str1.replace('apple','orange')

'I like orange'

In [36]:
#6.Write a code to create a list with numbers 1 to 5 and print it

l1=list(range(1,6))
l1

[1, 2, 3, 4, 5]

In [39]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]

l1=[1,2,3,4]
l1.append(10)
print(l1)

[1, 2, 3, 4, 10]

In [40]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

l1=[1,2,3,4,5]
l1.remove(3)
l1

[1, 2, 4, 5]

In [41]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

l1=['a', 'b', 'c', 'd']
l1[1]

'b'

In [42]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].

l1=[10, 20, 30, 40, 50]
l1[::-1]

[50, 40, 30, 20, 10]

In [44]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

tup1=(100,200,300)
print(tup1)

(100, 200, 300)

In [47]:
#12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

tup1=('red', 'green', 'blue', 'yellow')
print(tup1[-2])

blue

In [48]:
#13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tup1=(10, 20, 5, 15)
min(tup1)

5

In [49]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

tup1=('dog', 'cat', 'rabbit')
tup1.index('cat')

1

In [50]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

tup1=('apple', 'banana', 'orange')
'kiwi' in tup1

False

In [51]:
#16.write a code to create a set with the elements 'a', 'b', 'c' and print it.

set1={'a','b','c'}
print(set1)

{'b', 'c', 'a'}

In [54]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

set1={1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

In [55]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

set1={1, 2, 3, 4}
set1.remove(4)
print(set1)

{1, 2, 3}

In [57]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1={1, 2, 3}
set2={4, 2, 5}
set1.union(set2)

{1, 2, 3, 4, 5}

In [60]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1={1, 2, 3}
set2={5, 3, 1}
set1.intersection(set2)

{1, 3}

In [61]:
#21. write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dict1={"name":"Rupak","age":20,"city":"Patna"}
print(dict1)

{'name': 'Rupak', 'age': 20, 'city': 'Patna'}

In [62]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dict1={'name': 'John', 'age': 25}
dict1['country']="England"
print(dict1)

{'name': 'John', 'age': 25, 'country': 'England'}

In [63]:
#23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dict1={'name': 'Alice', 'age': 30}
dict1['name']

'Alice'

In [65]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

dict1={'name': 'Bob', 'age': 22, 'city': 'New York'}
dict1.pop('age')
print(dict1)

{'name': 'Bob', 'city': 'New York'}

In [67]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

dict1={'name': 'Alice', 'city': 'Paris'}
'city' in dict1

True

In [69]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

l1=list(range(1,11))
print("list",l1)
tup1=(1,2,3,4,5)
print("tuple",tup1)
dict1={"name":"Rupak","age":20,"city":"Patna"}
print("dictionary",dict1)

list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tuple (1, 2, 3, 4, 5)
dictionary {'name': 'Rupak', 'age': 20, 'city': 'Patna'}

In [71]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

numbers = [random.randint(1, 100) for _ in range(5)]
print("original list",numbers)
numbers.sort()
print("after sorting in ascending ",numbers)

original list [32, 1, 4, 23, 24]
after sorting in ascending  [1, 4, 23, 24, 32]

In [73]:
#28. Write a code to create a list with strings and print the element at the third index.

l1=["rupak","singh","age_20","patna","Data Science"]
l1[3]

'patna'

In [83]:
#29. Write a code to combine two dictionaries into one and print the result.

dict1={"name1":"Rupak","age1":20,"city1":"Patna"}
dict2={"name2":"Sakshi","age2":22,"city2":"Delhi"}
combined = (dict1  | dict2)
print(combined)

{'name1': 'Rupak', 'age1': 20, 'city1': 'Patna', 'name2': 'Sakshi', 'age2': 22, 'city2': 'Delhi'}

In [85]:
#30. Write a code to convert a list of strings into a set.

l1=["rupak","singh","age_20","patna","Data Science","rupak"]
set1=set(l1)
print(set1)

{'age_20', 'patna', 'singh', 'rupak', 'Data Science'}